.app {
  background-color: #111;
}

body {
  background-color: #111;
}

.trailing-students__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 30px;
  margin-bottom: 30px;
  max-width: 50%;
}

.students__label,
.publications__label,
.affiliations__label,
.gallery__label,
.funding__label,
.summerstudents__label{
  text-align: center;
  color: #ff9100;
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 80px;
}

.alumni__label{
  text-align: center;
  color: #90EE90;
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 80px;
}

.members__label {
  text-align: center;
  color: #00bfff;
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 80px;
}

.contact__label {
  color: white;
  margin-bottom: 40px;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.2;
  margin-left: 100px;
  margin-right: 100px;
}

hr.contact__hr {
  border: 1px solid white;
  margin-bottom: 40px;
}

.designed__by {
  color: white;
  margin: auto;
  text-align: center;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.closing__line {
  width: 60%;
}

.summerstudent-section__container{
  display:flex;
  justify-content: space-evenly;
}