.banner__container {
  margin-bottom: 150px;
}

.banner__textcontent {
  font-size: 1.2rem;
  line-height: 1.4;
  color: #ff9100;
  padding-top: 20px;
  margin: auto;
  text-align: center;
}

.banner img {
  align-items: center;
}
