.banner__container {
  margin-bottom: 150px;
}

.banner {
  height: 450px;
  width: 75%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  overflow: visible;
  z-index: 1;
}

.banner__textcontent {
  font-size: 1.2rem;
  line-height: 1.4;
  color: #ff9100;
  padding-top: 20px;
  margin: auto;
  text-align: center;
}

.banner img {
  align-items: center;
}
