.contact-us {
  color: white;
  margin-bottom: 3rem;
  line-height: 1.9;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

.mail {
  color: white;
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  padding-right: 50px;
  margin-left: 50px;
}

.location,
.twitter {
  color: white;
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  padding-right: 50px;
}

.mail:hover {
  color: #ff9100;
}

.location:hover {
  color: #ff9100;
}

.twitter:hover {
  color: #ff9100;
}

.mail__icon {
  margin-right: 20px;
}

.twitter__icon {
  margin-right: 20px;
}

.email,
.maps,
.twitter__ref {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 7px;
  text-decoration: none;
}

.contact__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
