.contact-us {
  color: white;
  margin-bottom: 3rem;
  line-height: 1.9;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

.mail,
.twitter {
  color: white;
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  margin-left: 50px;
}

.location {
  color: white;
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  padding-right: 50px;
}

.scholar {
  margin-right: 55px;
  padding-right: 55px;
}

.mail:hover {
  color: #ff9100;
}

.location:hover {
  color: #ff9100;
}

.scholar:hover {
  color: #ff9100;
}

.mail__icon,
.twitter__icon,
.location__icon {
  margin-right: 20px;
}

.email,
.maps,
.twitter__ref {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 7px;
  text-decoration: none;
}

.scholar__ref {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 7px;
  text-decoration: none;
  margin-top: 50px;
}

.contact__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact__last-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.scholar_img {
  width: 50px;
  height: 50px;
  vertical-align: bottom;
  margin-right: 20px;
}
