.gallery__container {
  margin-left: 7vw;
  margin-right: 7vw;
}

.row__images {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 1vw;
}

.row__images::-webkit-scrollbar {
  width: 5px;
  height: 1.5vh;
  background-color: #111;
}

.row__images::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #ff9100;
}
