.app {
  background-color: #111;
}

body {
  background-color: #111;
  box-sizing: border-box;
}

.trailing-students__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 30px;
  margin-bottom: 30px;
  max-width: 50%;
}

.students__label,
.publications__label,
.affiliations__label,
.gallery__label,
.funding__label,
.summerstudents__label{
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #ff9100, 1px -1px 0 #ff9100, -1px 1px 0 #ff9100, 1px 1px 0 #ff9100;
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 80px;
}

.alumni-label__container{
  margin-top: 40px;
  text-align: center;
}

.alumni__label{
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #ff9100, 1px -1px 0 #ff9100, -1px 1px 0 #ff9100, 1px 1px 0 #ff9100;
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 80px;
  text-decoration: none;
  transition: transform 450ms;
  display: inline-block;
}

.alumni__label:hover{
  color: #FF4500;
  transform: scale(1.28);
  opacity: 1;
}

.members__label {
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #ff9100, 1px -1px 0 #ff9100, -1px 1px 0 #ff9100, 1px 1px 0 #ff9100;
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 80px;
}

.contact__label {
  color: white;
  margin-bottom: 40px;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.2;
  margin-left: 100px;
  margin-right: 100px;
}

hr.contact__hr {
  border: 1px solid white;
  margin-bottom: 40px;
}

.designed__by {
  color: white;
  margin: auto;
  text-align: center;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.closing__line {
  width: 60%;
}

.summerstudent-section__container{
  display:flex;
  justify-content: space-evenly;
}