.publication__container {
  display: list-item;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

.publication__author {
  font-size: 1.2rem;
  line-height: 1.4;
  color: #d3d3d3;
}

.publication__author-color {
  font-size: 1.2rem;
  line-height: 1.4;
  color: #ff9100;
}

.publication__title {
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.4;
  color: #d3d3d3;
}

.publication__link, .publication__website {
  font-size: 1.2rem;
  line-height: 1.4;
  color: #d3d3d3;
  text-decoration: none;
  border-color: #ff9100;
  background: none;
  border-radius: 10px;
  margin-right: 10px;
}

.publication__link:hover{
  color: #ff9100;
}

.publication__website:hover{
  color: #ff9100;
}
