.zoo-banner__container{
    margin-bottom: 50px;
}

.zoo-banner__img {
    display: flex;
    flex-direction: row;
}

.zoo-banner {
    display:flex;
    flex-direction: column;
    width: 100%;
    align-self:center;
    margin-top: 10%;
}

.zoo-banner__textcontent{
    font-size: 1.3rem;
    line-height: 1.4;
    color: magenta;
    text-align: center;
}

.zoo-banner__fadeBottom {
    height: 7.4rem;
    width: 100%;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
  }